<div class="register-form">
    <h1 class="login-or-register-header">Register</h1>
    <div class="register-form-center-line"></div>
    <form method="post" action="/Users/register">
        <label>Username</label><br />
        <div class="register-form-center">
            <input class="col-md-6" type="text" name="username" placeholder="Username..." /><br />
        </div>
        <label>Password</label><br />
        <div class="register-form-center">
            <input class="col-md-6" type="password" name="password" placeholder="Password..." /><br />
        </div>
        <label>Confirm Password</label><br />
        <div class="register-form-center">
            <input class="col-md-6" type="password" name="confirmPassword" placeholder="Confirm Password..." /><br />
        </div>
        <label>Email</label><br />
        <div class="register-form-center">
            <input class="col-md-6" type="email" name="email" placeholder="Email..." /><br />
            <button type="submit" class="btn">Register</button>
        </div>
    </form>
</div>