<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>IRunes</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/Albums/all">Albums</a></li>
        <li><a href="/Users/logout">Logout</a></li>
    </ul>
    <hr />
    <h1>Albums</h1>
    <hr />
    <a href="albums/create">Create Album</a>
    <hr />
    {{albumsList}}
    <hr />
    <footer>
        <b>Copy Rights &copy; Sanity Design Studios. All rights reserved.</b>
    </footer>
</body>
</html>